nodered/watsoniot.json
[{"id":"e5a06d6b.32bae","type":"tab","label":"Flow 1"},{"id":"96f17c67.3c1be","type":"ibmiot out","z":"e5a06d6b.32bae","authentication":"apiKey","apiKey":"577bd73d.325aa8","outputType":"evt","deviceId":"F127E7F30AA4","deviceType":"0.16.2","eventCommandType":"+","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":586.5,"y":100,"wires":[]},{"id":"24b0e74b.c479b8","type":"inject","z":"e5a06d6b.32bae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92.5,"y":101,"wires":[["f3174a3c.b10488"]]},{"id":"f3174a3c.b10488","type":"function","z":"e5a06d6b.32bae","name":"Add message payload","func":"msg.payload={d:{msg:'Hello world'}}\nreturn msg;","outputs":1,"noerr":0,"x":335.5,"y":101,"wires":[["96f17c67.3c1be","f7a2cec3.56909"]]},{"id":"f7a2cec3.56909","type":"debug","z":"e5a06d6b.32bae","name":"","active":true,"console":"false","complete":"payload","x":580.5,"y":212,"wires":[]},{"id":"577bd73d.325aa8","type":"ibmiot","z":"","name":"Device","keepalive":"60","domain":"gfhrs7.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]
